@keyframes bounce-left {
    0% {
        -webkit-transform: translateX(-48px);
        transform: translateX(-48px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateX(-26px);
        transform: translateX(-26px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateX(-13px);
        transform: translateX(-13px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateX(-6.5px);
        transform: translateX(-6.5px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes bounce-right {
    0% {
        -webkit-transform: translateX(48px);
        transform: translateX(48px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateX(26px);
        transform: translateX(26px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateX(13px);
        transform: translateX(13px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateX(6.5px);
        transform: translateX(6.5px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --black: #000000;
    --dark: #222222;
    --purple: #F16D7F;
    --pink: #F1E4E6;
    --white: #fff;
    --grey: #9F9F9F;
    --lightcolor1: #F8F8F8;
    --lightcolor2: #F7E4E2;

    --lightcolor3: #FBFBFB;
    --font_text: #5D5D5D;
    --buttoncolor: #FF6A6A;
    --dark_imgage: rgb(33, 22, 22);
    --dark-overpal: rgba(33, 22, 22, 0.7);
    --indent-desktop: calc(50% - 570px);
    --indent-tablet: calc(50% - 368px);
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

h5 {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
}

.container {
    padding-left: var(--indent-desktop);
    padding-right: var(--indent-desktop);
}

.header {
    background-color: var(--dark);
    position: relative;
}

.header_content {
    animation: bounce-right 2s both;
}

.nav {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 19px;
}

.left {
    gap: 41px;
}

.right {
    gap: 33px;





}

.logo {
    margin-bottom: -3px;
}

.dr:focus-within .dropdown_menu {
    right: 0px;
}

.dropdown {
    position: absolute;
    top: 75px;
    right: 0px;
    width: 245px;
    height: 680px;
    overflow: hidden;
}

.dropdown_menu {
    position: absolute;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 20.5px;
    width: 168px;
    top: 0px;
    right: -300px;
    background-color: var(--white);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    list-style-type: none;
    transition: all 1s;
    z-index: 100;

}

.menu_title {
    padding-bottom: 24px;
}

.menu_title a {

    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 24px;
}

.menu_title a:hover {
    color: var(--purple);
}


.menu_subtitle_link a {
    font-size: 14px;
    font-weight: 400;
    color: var(--purple);
    text-decoration: none;

}

.menu_subtitle_link a:hover {
    color: var(--dark);
}

.submenu_list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 11.5px;
    list-style-type: none;
}

.submenu a {
    font-size: 14px;
    font-weight: 400;
    color: #6F6E6E;
    text-decoration: none;
}

.submenu a:hover {
    color: var(--purple);
}

.cart {
    position: relative;
}

.cart_quantity::before {
    position: absolute;
    top: -9px;
    right: -9px;
    content: '5';
    width: 19px;
    height: 19px;
    background-color: var(--purple);
    color: white;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

.section_top {
    background-color: var(--pink);
}

.top {
    display: flex;
    flex-direction: row;
    padding-right: var(--indent-desktop);

}

.slaid {
    animation: bounce-left 2s both
}

.header_content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.box {
    width: 12px;
    height: 92px;
    background-color: var(--purple);
}

.header_info {
    display: flex;
    flex-direction: column;
}

.section_top .subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    color: var(--black);
    text-align: left;
    padding-bottom: 0px;
}

.purple_title {
    color: var(--purple);
}

.offer {
    padding-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 31.5%);
    gap: 30px;
    padding-bottom: 96px;

}

.item_sale {
    background-color: var(--dark_imgage);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.item_sale img {
    opacity: 30%;
}

.sale_content {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;

    justify-content: center;

}

.item_sale h3 {
    color: var(--purple);
    text-align: center;
}

.item_sale h4 {
    color: var(--white);
    text-align: center;
}

.item_sale:hover img, .item_sale:hover h3, .item_sale:hover h4 {
    background-color: #000000;
    color: #9F9F9F;
    transition: all 1s;
}

.offer .view4 {
    grid-column: 1/4;
}


.catalog .title2, .catalog .subtitle {
    text-align: center;
}

.catalog .subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--grey);
    padding-bottom: 48px;
}

.catalog_grid {
    display: grid;
    grid-template-columns: repeat(3, 31.5%);
    gap: 30px;
    justify-content: center;
}

.under_img {
    background-color: var(--lightcolor2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 420px;
    align-items: center;
    position: relative;
}

.overpal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-overpal);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.button_cart {
    display: flex;
    position: absolute;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
    width: 139px;
    height: 44px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.item:hover .overpal, .item:hover .button_cart {
    opacity: 1;
}

.button_white {
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    border: 1px solid white;
    text-decoration: none;
    transition: all 1s;
}

.under_img img {
    width: 100%;
}

.img_catalog2 {
    width: 39.42% !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg_title {
    background-color: var(--lightcolor1);
    padding: 25px 16px 19px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--font_text);
}

.price {
    color: var(--purple);
}

.content_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 48.5px;
    padding-bottom: 60.5px;
}

.button {
    width: 211px;
    height: 47px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    background-color: var(--buttoncolor);
    color: var(--white);
    border: 1px solid var(--buttoncolor);

}

.button:hover {
    background-color: var(--white);
    color: var(--buttoncolor);


}

.feature {
    background-color: var(--dark);
}

.feature .container {
    display: grid;
    grid-template-columns: repeat(3, 31.4%);
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.feature .item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.feature .icon1 {
    padding-top: 103px;
    padding-bottom: 28.07px;

}

.feature .icon2 {
    padding-top: 104px;
    padding-bottom: 19.07px;

}

.feature .icon3 {
    padding-top: 103px;
    padding-bottom: 25.06px;

}

.feature .header {
    text-align: center;
    padding-bottom: 16px;
    font-size: 19.96px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
}

.feature .text {
    padding-bottom: 104px;
    text-align: center;
    font-size: 13.972px;
    font-weight: 300;
    line-height: 17px;
    color: var(--lightcolor3);
    padding-left: 22px;
    padding-right: 22px;
}

.subscribe {
    position: relative;
    min-height: 448px;
    overflow: hidden;

}

.subscribe_background {
    width: 100%;
    height: 100%;
    opacity: 30%;
    position: absolute;
    overflow: hidden;
    background-image: url(img/backgroundimg.png);
    background-size: cover;
    bottom: 0px;
    z-index: -1;
}

.subscribe .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding-bottom: 156px;

}

.subscribe__form {
    animation: vibrate-1 2s linear infinite both;
}

.subscribe_item1 {
    padding-top: 97px;
    width: 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.subscribe_item1 .img {
    width: 96px;
    height: 96px;
}

.subscribe_item1 img {
    width: 100%;
    border-radius: 50%;
}

.subscribe .text {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--dark);
}

.subscribe h2 {
    padding-top: 150px;
    font-size: 24px;
    font-weight: 700;
    line-height: 40.13px;
    color: var(--dark);
    text-align: center;
}

.subscribe h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30.1px;
    text-align: end;
    text-align: center;
}


.subscribe__buttons {
    padding-top: 32px;
    display: flex;
}

.input {
    padding: 17px 19px;
    border: 1px solid transparent;
    display: block;
}

.input__email {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #E1E1E1;
    width: 100%;
    transition: all 0.3s;
}

.input__email::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
}

.input__submit {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--purple);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    transition: all 0.4s ease;
    border: 1px solid var(--buttoncolor);
}

.input__submit:hover {
    background-color: var(--white);
    color: var(--buttoncolor);

}

.footer {
    background-color: var(--dark);
    padding-top: 24px;
    padding-bottom: 24px;
}

.corporate {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--lightcolor3);
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.social__links {
    display: flex;
    flex-direction: row;
    gap: 7.29px;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--white);
    transition: all 0.5s ease;
}

.social:hover {
    background-color: var(--buttoncolor);

}


.social:hover .svg_social path {
    fill: var(--white);
    transition: all 0.5s ease;
}

@media (min-width:768px) and (max-width:1024px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .slaid {
        width: 386px;
        height: 386px;
    }

    .section_top .title {
        font-size: 44px;
    }

    .section_top .subtitle {
        font-size: 24px;
    }

    .offer {
        grid-template-columns: repeat(3, 30.2%);
    }

    .catalog_grid {
        grid-template-columns: repeat(2, 360px);
    }

    .feature .container {
        grid-template-columns: 1fr;
        gap: 0px;
        padding-bottom: 64px;
    }

    .feature .item {
        width: 360px;
        padding-top: 48.17px;
    }

    .feature .icon1, .feature .icon2, .feature .icon3 {
        padding-top: 0;
    }

    .feature .text {
        padding-bottom: 0px;
    }

    .subscribe .container {
        grid-template-columns: 1fr;
        padding-bottom: 140px;
    }

    .subscribe h2 {
        padding-top: 48px;
    }

    .subscribe_background {
        background-image: url(img/backgroundimgx768.png);
    }
}

@media (min-width:375px) and (max-width:767px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .login {
        display: none;
    }

    .cart {
        display: none;
    }

    .right {
        justify-content: right;
    }

    .slaid {
        display: none;
    }

    .section_top {
        height: 363px;
    }

    .box {
        height: 61px;
    }

    h1 {
        font-size: 38px;
        line-height: 45.6px;
    }

    .section_top .subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .top {
        padding-top: 148px;
        justify-content: center;
    }

    .offer {
        grid-template-columns: 100%;
        padding-bottom: 64px;

    }

    .offer .view4 {
        grid-column: 1;
        width: 100%;
        height: 111px;
        overflow: hidden;
    }

    .view4 img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .catalog_grid {
        grid-template-columns: repeat(1, 360px);
    }

    .feature .container {
        grid-template-columns: 1fr;
        padding-top: 48px;
        padding-bottom: 81px;
        gap: 46.7px;
    }

    .feature .item {
        width: 360px;
    }

    .feature .icon1, .feature .icon2, .feature .icon3 {
        padding-top: 0;
    }

    .feature .text {
        padding-bottom: 0px;
    }

    .subscribe .container {
        grid-template-columns: 1fr;
        gap: 59px;
        padding-bottom: 109.92px;
    }

    .subscribe .text {
        font-size: 18px;
    }

    .subscribe h2 {
        padding-top: 0;
    }

    .subscribe h3 {
        font-size: 16px;
        line-height: 21.45px;
    }

    .footer {
        padding-top: 43px;
        padding-bottom: 9px;
    }

    .footer__content {
        flex-direction: column-reverse;
        gap: 40px;
    }
}